@{
    ViewData["Title"] = "Team";
}

<link rel="stylesheet" href="~/css/team.css" asp-append-version="true" />sssss

<div class="container text-center about-card">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img class="img-fluid" src="~/Images/AmayaKorakanto.jpg">
        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="about-title">Amaya Korakanto</h3>
            <p class="about-subtitle">Networker</p>
            <p class="about-text">Hello there. I'm Dari! Fun-fact: I actually have an affinity for programming, but purposely picked the Networking path for my degree because it was where I was the least confident in my knowledge and skills. Working in tech is a constant learning process, afterall, which is what I love most about it: There's always more to learn! It's not enough for me to just know <i>how</i> to do something; I also want to know <i>why</i>. When I'm not at work tracing network cables or poking around in the GUI of some software, I divide my free time between a wide array of activities: from roadtrips on my motorcycle and helping on the family farm to writing mini-stories and chatting with friends from across the globe.</p>
            <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">
                <button type="button" class="btn btn-danger">Back to Team</button>
            </a>
        </div>
    </div>
</div>