@{
	ViewData["Title"] = "Team";
}

<link rel="stylesheet" href="~/css/team.css" asp-append-version="true" />

<div class="container text-center about-card">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img alt="Image of Haldan Toomsen" class="img-fluid" src="~/Images/Haldan-Toomsen.jpg">
		</div>
		<div class="col-md-6 col-sm-12">
			<h3 class="about-title">Haldan Toomsen</h3>
			<p class="about-subtitle">Programmer</p>
			<p class="about-text">Hello everyone! My name is Haldan Toomsen. I chose to pursue computer programming because I have always been fascinated with technology's' rapid growth, as well as how dependent on it we are becoming. The possibilites of what you can create is truly endless! In my free time I enjoy practicing Brazilian Jiu-Jitsu and spending time with my dog Mac. </p>
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">
				<button type="button" class="btn btn-danger">Back to Team</button>
			</a>
		</div>
	</div>
</div>