@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section class="welcome-banner">
	<div class="wb-layer py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-bold">Meet our Team</h1>
				<p class="">We are a team of programmers, networkers, and security analysts with a diverse range of skills and abilities.</p>
			</div>
		</div>
	</div>
</section>

<div class="album py-5">
	<div class="container">

		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

			<!-- Nathan Cochran -->
			<!-- Copy and customize -->
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="NathanCochran">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/Nathan-Cochran.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Nathan Cochran</h3>
								<p class="post"><span>Programmer</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- End of Nathan Cochran -->
			

			<!-- Oren Kirchhoff -->
			<!-- Copy and customize -->
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="OrenKirchhoff">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/Oren.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Oren Kirchhoff</h3>
								<p class="post"><span>Programmer</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- End of Oren Kirchhoff -->



			<!-- Ryan Hawkins -->
			<!-- Copy and customize -->
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="RyanHawkins">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/RyanHawkins.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Ryan Hawkins</h3>
								<p class="post"><span>Networker</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- End of Ryan Hawkins -->


			<!-- Natalie Appleton -->
			<!-- Copy and customize -->
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="NatalieAppleton">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/Natalie-Appleton.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Natalie Appleton</h3>
								<p class="post"><span>Programmer</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- End of Natalie Appleton -->


			<!-- Patrick Bailey -->
			<!-- Copy and customize -->
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="PatrickBailey">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/Patrick-Bailey.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Patrick Bailey</h3>
								<p class="post"><span>Networker</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- End of Patrick Bailey -->



			<!-- Haldan Toomsen -->
			<!-- Copy and customize -->
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="HaldanToomsen">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/Haldan-Toomsen.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Haldan Toomsen</h3>
								<p class="post"><span>Programmer</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- End of Haldan Toomsen -->

			<!-- Amaya Korakanto -->
			<!-- Copy and customize -->
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="AmayaKorakanto">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/AmayaKorakanto.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Amaya Korakanto</h3>
								<p class="post"><span>Networker</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- End of Nathan Cochran -->

			<!-- Michael Kariuki -->
			<!-- Copy and customize -->
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="MichaelKariuki">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/Michael-Kariuki.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Michael Kariuki</h3>
								<p class="post"><span>Cyber Security Analyst</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- End of Michael Kariuki -->

			<!-- Jacob Schroeder -->
			<!-- Copy and customize -->
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="JacobSchroeder">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/Jacob-Schroeder.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Jacob Schroeder</h3>
								<p class="post"><span>Networker</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- End of Jacob Schroeder -->


			<!-- Jignesh Dave -->
			<!-- Copy and customize -->
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="JigneshDave">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/Jessie.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">JigneshDave</h3>
								<p class="post"><span>Database Architect</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- End of Jacob Schroeder -->

			<!-- Joel Stubbs -->
			<!-- Copy and customize -->
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="JoelStubbs">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/JoelStubbs.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Joel Stubbs</h3>
								<p class="post"><span>Programmer</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- End of Nathan Cochran -->

		</div>
	</div>
</div>