@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section class="welcome-banner">
	<div class="wb-layer py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-bold">Meet our Team</h1>
				<p class="">We are a team of programmers, networkers, and security analysts with a diverse range of skills and abilities.</p>
			</div>
		</div>
	</div>
</section>

<div class="album py-5">
	<div class="container">

		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="NathanCochran">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/Nathan-Cochran.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Nathan Cochran</h3>
								<p class="post"><span>Programmer</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>

			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="BobJones">
				<div class="col">
					<div class="our-team card shadow-sm">
						<img src="~/Images/BobJones.jpg" alt="team-image">
						<div class="card-body text-center">
							<div class="team-content">
								<h3 class="title">Bob Jones</h3>
								<p class="post"><span>Networker</span></p>
							</div>

							<div class="btn-group" style="float: right">
								<button type="button" class="btn btn-sm btn-outline-secondary">About</button>
							</div>
						</div>
					</div>
				</div>
			</a>

		</div>
	</div>
</div>