@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container text-center about-card">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img class="img-fluid" src="~/Images/Jacob-Schroeder.jpg">
		</div>
		<div class="col-md-6 col-sm-12">
			<h3 class="about-title">Jacob Schroeder</h3>
			<p class="about-subtitle">Networker</p>
			<p class="about-text">Hi, my name is Jacob Schroeder and I am pursuing a degree in Networking. I have always been interested in computers and networks, and I especially enjoy Linux. In my free time I like to work out, play videogames, and play guitar.</p>
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">
				<button type="button" class="btn btn-danger">Back to Team</button>
			</a>
		</div>
	</div>
</div>