@{
	ViewData["Title"] = "Team";
}

<link rel="stylesheet" href="~/css/team.css" asp-append-version="true" />

<div class="container text-center about-card">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img alt="Image of Joel Stubbs" class="img-fluid" src="~/Images/JoelStubbs.jpg">
		</div>
		<div class="col-md-6 col-sm-12">
			<h3 class="about-title">Joel Stubbs</h3>
			<p class="about-subtitle">Programmer</p>
			<p class="about-text">I'm Joel and I know this picture isn't very professional, but it was the best in my camera roll. I'd say my programming skills are amateur which you don't want to hear from a programming student, but you give me a list of orders and I'll follow them well. The website may seem average at first glance, but looking at the code is another story. Working with ASP.NET has shown some very interesting things and I was surprised to see how well our system works as a team. I suppose aside from the website, I'm spending my time working with Unity and exploring that field in my free time.'</p>
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">
				<button type="button" class="btn btn-danger">Back to Team</button>
			</a>
		</div>
	</div>
</div>