<link rel="stylesheet" href="~/css/team.css" asp-append-version="true" />

<div class="container text-center about-card">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img class="img-fluid" src="~/Images/Michael-Kariuki.jpg">
		</div>
		<div class="col-md-6 col-sm-12">
			<h3 class="about-title">Michael Kariuki</h3>
			<p class="about-subtitle">Cyber Security Analyst</p>
			<p class="about-text">Hey guys! My name is Michael Kariuki. I am pursuing a dual degree in both Cyber Securty and Programming at MACC. Working on this ASP.NET project has helped teach me a lot about how to protect and defend real life applications that will be used in business settings. Outside of school I enjoy video games, frisbee golf, and playing with my cats.</p>
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">
				<button type="button" class="btn btn-danger">Back to Team</button>
			</a>
		</div>
	</div>
</div>