@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container text-center about-card">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img class="img-fluid" src="~/Images/Natalie-Appleton.jpg">
		</div>
		<div class="col-md-6 col-sm-12">
			<h3 class="about-title">Natalie Appleton</h3>
			<p class="about-subtitle">Programmer</p>
			<p class="about-text">Hello, my name is Natalie Appleton. I am an IT Programming student at MACC. Writing code and developing software is my passion. I enjoy the problem-solving aspect, thinking logically through the issue at hand and determining a concrete solution that is syntactically correct. In my free time, I love spending time with family, playing video games, going antiquing, and trying out new baking/ice cream recipes.</p>
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">
				<button type="button" class="btn btn-danger">Back to Team</button>
			</a>
		</div>
	</div>
</div>
