@{
	ViewData["Title"] = "Team";
}

<link rel="stylesheet" href="~/css/team.css" asp-append-version="true" />

<div class="container text-center about-card">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img class="img-fluid" src="~/Images/Nathan-Cochran.jpg">
		</div>
		<div class="col-md-6 col-sm-12">
			<h3 class="about-title">Nathan Cochran</h3>
			<p class="about-subtitle">Programmer</p>
			<p class="about-text">Howdy ya'll! My name is Nathan Cochran. I love combining the worlds of design and programming to make beautiful websites. Learning how to use the ASP.NET framework to make this project has been such a fun journey for me, and it has been a pleasure to work with the rest of the team. When I am not programming away on my computer then you can find me practicing an instrument or playing board games with my family. I also love a good ping pong match, they can get intense sometimes... Onwards!</p>
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">
				<button type="button" class="btn btn-danger">Back to Team</button>
			</a>
		</div>
	</div>
</div>