@{
	ViewData["Title"] = "Team";
}

<link rel="stylesheet" href="~/css/team.css" asp-append-version="true" />


<div class="container text-center about-card">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img class="img-fluid" src="~/Images/Oren.jpg">
		</div>
		<div class="col-md-6 col-sm-12">
			<h3 class="about-title">Oren Kirchhoff</h3>
			<p class="about-subtitle">Programmer</p>
			<p class="about-text">Hello everyone!  My name is Oren Kirchhoff.  I am dual degree Cyber Security and Programming major at MACC.  I couldn't decide which path i liked better so I chose to do both!  I love the challenge of building full stack web applications because it truly tests your foundations in both programming and networking.  Outside of college, I love studying Martial Arts, playing guitar, flying my drone, and visiting historical sites. </p>
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">
				<button type="button" class="btn btn-danger">Back to Team</button>
			</a>
		</div>
	</div>
</div>
