<link rel="stylesheet" href="~/css/team.css" asp-append-version="true" />

<div class="container text-center about-card">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img class="img-fluid" src="~/Images/Patrick-Bailey.jpg">
		</div>
		<div class="col-md-6 col-sm-12">
			<h3 class="about-title">Patrick Bailey</h3>
			<p class="about-subtitle">Networker</p>
			<p class="about-text">Hello everyone! My name is Patrick Bailey and I am a networking student at MACC. I have always loved working on computers and learning about networks, so being able to use my knowledge with the team was a really fun aspect of this project. In my free time, I am a huge golfer and you can find me on the course any chance that I get.</p>
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">
				<button type="button" class="btn btn-danger">Back to Team</button>
			</a>
		</div>
	</div>
</div>