@{
	ViewData["Title"] = "Team";
}

<link rel="stylesheet" href="~/css/team.css" asp-append-version="true" />

<div class="container text-center about-card">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<img class="img-fluid" src="~/Images/RyanHawkins.jpg">
		</div>
		<div class="col-md-6 col-sm-12">
			<h3 class="about-title">Ryan Hawkins</h3>
			<p class="about-subtitle">Networker</p>
			<p class="about-text">Hello everyone! I'm Ryan Hawkins and networking is my path in IT. When I'm not networking, I'm usually seen either playing a game, scowering the internet for potential new recipes to cook, or enjoying some peace out in the woods on a hike.</p>
			<a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">
				<button type="button" class="btn btn-danger">Back to Team</button>
			</a>
		</div>
	</div>
</div>