@{
    ViewData["Title"] = "Credits";
}

<hr class="hr-w hr-w-3" />

<div class="container">
	<h1 class="pb-3 mb-4 border-bottom">Credits</h1>

	<hr class="hr-w hr-w-4" />
		
	<ul>
		<li>Images by <a target="_blank" href="https://www.freepik.com/free-photo/modern-stationary-collection-arrangement_23441437.htm#query=computer%20kits&position=13&from_view=search&track=robertav1_2_sidr">Freepik</a></li>
	</ul>


</div>

<hr class="hr-w hr-w-3" />