@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Docs";
}


<hr class="hr-w hr-w-3" />

<div class="container">

    <h1><b>User Manual Docs</b></h1>
    <p>Welcome to the User Manual for the Check-In /Check-Out Program!</p>

    <h3>Overview</h3>
    <p>
        This program was designed and created to allow users to easily check in and check out kits and items from various Moberly Area Community College campuses. 
        Whether you're managing equipment at a campus, keeping track of kits and their contents at a particular location, or checking out items to students, 
        this program makes it simple to monitor what is being used and by whom.
    </p>

    <h2>Table of Contents </h2>
    <p>1.) System Requirements: In this section, you will find information on the hardware and software requirements needed to run this program.</p>
    <p>2.) Getting Started: This section will walk you through the initial setup process for the program, including creating user accounts and setting up kits and items in the system.</p>
    <p>3.) Checking In and Out: This section will cover the main functionality of the program - checking in and checking out kits and items. You will learn how to select the user, select the kit or item, and record the check-in or check-out transaction.</p>
    <p>4.) Reports: This section will cover the reporting functionality of the program, including how to generate reports on check-in and check-out transactions, as well as how to view inventory levels.</p>
    <p>5.) Administration: This section will cover administrative tasks such as adding or deleting users, modifying kit and item information, and changing system settings.</p>
    <p>6.) Troubleshooting: This section will provide solutions to common problems that users may encounter while using the program.</p>
    <p>7.) Conclusion: This section will summarize the key features and benefits of the program and provide information on how to get support if needed.</p>
    
    <p>Thank you for using our Check-In/Check-Out Program! We hope this User Manual helps you get the most out of the program and makes your kit and item management process easier and more efficient.</p>
</div>

<hr class="hr-w hr-w-3" />