@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <hr class="hr-w hr-w-3" />
    <h1>UserProfile Page</h1>
    <hr class="hr-w hr-w-3" />
</div>