@{
    ViewData["Title"] = "Welcome";
}

<hr class="hr-w hr-w-3" />

<div class="container">
    <div class="row">
        <div class="col-xl-6 col-sm-5">
            <img class="img-fluid" src="Images/computer_kit.png" />
        </div>
        <div class="col-xl-6 col-sm-7 align-items-center">
            <div>
                <p style="margin-bottom: -4px">Welcome!</p>
                <h1>Student Kit<br />Management</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidunt ut labore.</p>
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-md">Sign up</a>
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-primary btn-md">Sign in</a>
            </div>
        </div>
    </div>
</div>


<hr class="hr-w hr-w-2" />
