@page
@model Systems_Project_Spring_2023.Areas.AssignRolesModel

<h1>Account and Role Relationships</h1>

<table class="table table-striped table-bordered" style="max-width: 800px;">
	<thead class="thead-dark">
	<tr>
		<th>Account</th>
		<th>Role</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var accountRole in Model.AccountRoles)
	{
		<tr>
			<td>@accountRole.accountName</td>
			<td>@accountRole.roleName</td>
		</tr>
	}
	</tbody>
</table>


<div class="container">
<form method="post">
	<div class="form-group">
		<label for="accountDropDown">Select Account</label>
		<select class="form-control" id="accountDropDown" asp-items="@Model.Accounts" asp-for="AccountId"></select>
	</div>

	<div class="form-group">
		<label for="roleDropDown">Select Role</label>
		<select class="form-control" id="roleDropDown" asp-items="@Model.Roles" asp-for="RoleId"></select>
	</div>

	<button type="submit" class="btn btn-primary">Assign Role</button>
</form>
</div>
