@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<div class="container">
    <hr class="hr-w hr-w-3" />
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <hr class="hr-w hr-w-3" />
</div>
