/********************************** 
 * Kit_Type Pages
 * Credit to xyz
**********************************/

/*
h1 {
    font-weight: bold;
}

h4 {
    font-style: italic;
}
*/

.row {
    padding-bottom: 10px;
}

.form-group {
    padding-bottom: 10px;
}

col-sm-2{
    column-width: 200px !important;
}


/** Styling Buttons **/
.btnIndex {
    color: #cd2028;
}

.btnIndex:hover {
    color: #921020;
}

.btnBackToList {
    color: #cd2028;
    padding-bottom: 10px;
}

.btnBackToList:hover {
    color: #921020;
}