/********************************** 
 * General Layout
**********************************/

/** Font Size **/
html {
    font-size: 14px;
    height: 100%;
    margin: 0;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/** Header Content **/
.navbar {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
}
.macc-logo {
    width: 125px;
    height: auto;
}
.profile-icon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    margin-left: 15px;
}
.sub-menu-items li {
    margin-left: 0px !important;
}
.sub-menu-items li:hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}
.addHeaderPopup {
    width: 0px;
    height: 0px;
}
.sub-menu-items {
    padding: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px black;
    position: relative;
    right: 156.5px;
    top: 5px;
    z-index: 10;
    width: 200px;
    border: 1px solid black;
    border-radius: 1px;
    background-color: white;
}
.sub-menu-items li {
    margin: 0px;
    list-style-type: none;
}
.top-bot {
    position: absolute;
    top: -21px;
    right: -1px;
    z-index: 10;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.addHeaderPopup {
    display: block;
}
.removeHeaderPopup {
    display: none;
}
.top-bot-border {
    top: -19px;
    border-color: transparent transparent #fff transparent;
}

/** Body Content **/
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

/** Footer Content **/
footer {
    background-color: #333333;
    flex-shrink: 0;
    flex: 1 0 auto;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-top: 0px;
}

/********************************** 
 * General Layout
**********************************/

/** Styling hr **/
.hr-w {
    height: 0px !important;
    background-color: none !important;
    border: !important;
    margin-bottom: 0px;
}
.hr-w-1 {
    margin-top: 100px;
}
.hr-w-2 {
    margin-top: 50px;
}
.hr-w-3 {
    margin-top: 25px;
}
.hr-w-4 {
    margin-top: 15px;
}
.hr-w-5 {
    margin-top: 10px;
}
.hr-w-6 {
    margin-top: 5px;
}

/** Styling Buttons **/
.btn-primary {
    background-color: #cd2028;
    border: none;
}
    .btn-primary:hover {
        background-color: #921020;
    }
.btn-outline-primary {
    border-color: #cd2028;
    color: #cd2028;
}
    .btn-outline-primary:hover {
        border-color: #fd2028;
        color: white;
        background-color: #921020;
    }