@model Systems_Project_Spring_2023.Models.Student

@{
    ViewData["Title"] = "Edit Student";
}

<hr class="hr-w hr-w-3" />

<div class="container">
    <h1 class="pb-3 mb-4 border-bottom">Edit Student</h1>

    <hr class="hr-w hr-w-4" />

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Student_macid" class="control-label"></label>
                <input asp-for="Student_macid" class="form-control" />
                <span asp-validation-for="Student_macid" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Student_fname" class="control-label"></label>
                <input asp-for="Student_fname" class="form-control" />
                <span asp-validation-for="Student_fname" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Student_lname" class="control-label"></label>
                <input asp-for="Student_lname" class="form-control" />
                <span asp-validation-for="Student_lname" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Student_cmail" class="control-label"></label>
                <input asp-for="Student_cmail" class="form-control" />
                <span asp-validation-for="Student_cmail" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Student_pmail" class="control-label"></label>
                <input asp-for="Student_pmail" class="form-control" />
                <span asp-validation-for="Student_pmail" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Student_phone" class="control-label"></label>
                <input asp-for="Student_phone" class="form-control" />
                <span asp-validation-for="Student_phone" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Student_ephone" class="control-label"></label>
                <input asp-for="Student_ephone" class="form-control" />
                <span asp-validation-for="Student_ephone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Student_addr" class="control-label"></label>
                <input asp-for="Student_addr" class="form-control" />
                <span asp-validation-for="Student_addr" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Student_cour" class="control-label"></label>
                <select asp-for="Student_cour" class="form-control">
                    <option value="">Course</option>
                    <option value="Networking">Networking</option>
                    <option value="Programming">Programming</option>
                    <option value="Cyber">Cyber</option>
                    <option value="IT Essentials">IT Essentials</option>
                    <option value="Linux">Linux</option>
                    <option value="Systems Project">Systems Project</option>
                    <option value="Windows Server">Windows Server</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="Student_cour" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Student_camp" class="control-label"></label>
                <select asp-for="Student_camp" class="form-control">
                    <option value="">Campus</option>
                    <option value="MOB">Moberly</option>
                    <option value="COL">Columbia</option>
                    <option value="HAN">Hannibal</option>
                    <option value="MEX">Mexico</option>
                    <option value="KIR">Kirksville</option>
                </select>
                <span asp-validation-for="Student_camp" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Student_instr" class="control-label"></label>
                <select asp-for="Student_instr" class="form-control">
                    <option value="">Instructor</option>
                    <option value="Rich Bright">Rich Bright</option>
                    <option value="David Pence">David Pence</option>
                    <option value="Semi Necibi">Semi Necibi</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="Student_instr" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>

<hr class="hr-w hr-w-3" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
