@model Systems_Project_Spring_2023.Models.Kit_Type

@{
    ViewData["Title"] = "Edit Kit Type";
}

<hr class="hr-w hr-w-3" />

<div class="container">
    <h1 class="pb-3 mb-4 border-bottom">Edit Kit Type</h1>

    <hr class="hr-w hr-w-4" />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Kt_name" class="control-label"></label>
                    <input asp-for="Kt_name" class="form-control" />
                    <span asp-validation-for="Kt_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Kt_cost" class="control-label"></label>
                    <input asp-for="Kt_cost" class="form-control" />
                    <span asp-validation-for="Kt_cost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Kt_desc" class="control-label"></label>
                    <input asp-for="Kt_desc" class="form-control" />
                    <span asp-validation-for="Kt_desc" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<hr class="hr-w hr-w-3" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
