@model Systems_Project_Spring_2023.Models.LabAssistant

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LabAssistant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="La_id" />

            <div class="form-group">
                <label asp-for="La_fname" class="control-label"></label>
                <input asp-for="La_fname" class="form-control" />
                <span asp-validation-for="La_fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="La_lname" class="control-label"></label>
                <input asp-for="La_lname" class="form-control" />
                <span asp-validation-for="La_lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="La_camp" class="control-label"></label>
                <input asp-for="La_camp" class="form-control" />
                <span asp-validation-for="La_camp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="La_sch" class="control-label"></label>
                <input asp-for="La_sch" class="form-control" />
                <span asp-validation-for="La_sch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
