@model List<LogItem>

@{
    ViewData["Title"] = "Reports";
}

<hr class="hr-w hr-w-3" />

<div class="container">
    <h2 class="pb-3 mb-4 border-bottom">Report</h2>

    <a class="btn btn-primary btn-md btn-fix" asp-controller="Reports" asp-action="StatusReports">View Status Reports</a>

    <hr class="hr-w hr-w-3" />

    <div class="table-responsive">
        <table class="table table-striped table-hover reports-table">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var logItem in Model)
                {
                    <tr>
                        <td>@logItem.Event</td>
                        <td>@logItem.Description</td>
                        <td>@logItem.Date</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<hr class="hr-w hr-w-3" />